$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

$font-stack: 'Avenir', 'Avenir Next', 'Arial', sans-serif;
$cursive-stack: 'Shadows Into Light Two', cursive;



.tns-controls {
  text-align: right;
  max-width: 540px;
  button {
    height: 40px;
    width: 50px;
    font-size: 20px;
    font-family: $font-stack;
    margin-bottom: 10px;
    background-color: white;
    &:first-child {
      border-radius: 5px 2px 2px 5px;
      margin-right: 5px;
    }
    &:last-child {
      border-radius: 2px 5px 5px 2px;
      margin-right: 5px;
    }
  }
}
